<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <button @click="checked = true">全选</button>
        <button @click="checked = false">全不选</button>

        <input type="checkbox" v-model="checked" >唱歌    {{checked}}
        <input type="checkbox" v-model="checked" >吃饭    {{checked}}
        <input type="checkbox" v-model="checked" >跳舞    {{checked}}
        <input type="checkbox" v-model="checked" >打球    {{checked}}
        <input type="checkbox" v-model="checked" >睡觉    {{checked}}
        <input type="checkbox" v-model="checked" >打游戏   {{checked}}

    </div>
</body>
</html>
<script>

    var app = new Vue({
        el : "#app",
        data : {
           checked : false
        },
        methods : {

        }
    })

</script>
