<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <select name="" id="" v-model="selected" multiple="multiple">
            <option value="html">HTML</option>
            <option value="js">JavaScript</option>
            <option value="css">CSS</option>

        </select>
        <p>您选择的项是: {{selected}}</p>
        <ul>
            <li v-if="selected.length" v-for="item in selected">{{item}}</li>
        </ul>
    </div>
</body>
</html>
<script>

    new Vue({
        el : "#app",
        data : {
            selected : ""
        },
        methods : {

        }
    })

</script>
