
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.4286;
  font-family: Roboto, Microsoft Ya Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

/* 强制修改v-html动态绑定的DOM样式 */
.article-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}
